.loginpage {
  margin: auto 0;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login_container {
    width: 750px;
    // height: 520px;
    border: solid 1px #75b2f8;
    border-radius: 10px;
    display: flex;
    padding: 20px;

    .left_form {
      width: 60%;
      text-align: left;
      padding-right: 50px;
      padding-left: 20px;
      border-right: solid 1px #959595;

      .note {
        color: #898989;
        font-size: 12px;
        font-family: "Raleway";
      }

      .btn-button-light {
        font-size: 20px;
        font-family: "Raleway";
        padding-left: 30px;
        padding-right: 30px;
        color: #0092f9;
        border: solid 1px #0092f9;
      }

      .submit_tab {
        margin-top: 20px;
        margin-bottom: 0px;
      }
    }
    .right_panel {
      width: 40%;
      align-self: center;
      text-align: center;
    }
  }
}
